@model IEnumerable<WebAppGroup1.Models.ViewModels.TrackerVM>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Week)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TechnicalSkill)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoftSkill)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Complete)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Week)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TechnicalSkill)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SoftSkill)
				</td>
					<td>
					<form asp-action="UpdateTrackerComplete" asp-route-id="@item.Id">
						@Html.CheckBox("Complete", item.Complete, new {onChange="this.form.submit()"})
					</form>
					</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a class="btn btn-danger">
						@using (Html.BeginForm("Delete", "Trackers", new { id = item.Id }))
						{
							<input type="submit" class="bg-transparent border-0" value="Delete" onclick="return confirm('Are you sure you wish to delete the Tracker for week @item.Week?')" />
						}
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
